<!doctype html>
<html>

<head>
    <% include template/head.ejs %>
    <script src="/js/account.js"></script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container" style="margin: 50px auto;">
    <div class="row margin-top img-center-holder">
        <h2>Core members</h2>
    </div>
    <div class="row margin-top">
        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/yuke-liang-6b9087135/">
                <img class="portrait-img" src="/img/L00.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Yuke Liang</h4>
            <p>Founder</p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/qiuxuan-wu-1111b0107/">
                <img class="portrait-img" src="/img/L01.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Qiuxuan Wu</h4>
            <p>Co-founder</p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/yuanchen-li-62054b131/">
                <img class="portrait-img" src="/img/L02.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Yuanchen Li</h4>
            <p>Co-founder</p>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/muhamad-firdaus-husaini-6a0b5113b/">
                <img class="portrait-img" src="/img/L03.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Firdaus Husaini</h4>
            <p>Co-founder</p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/haikal-azizi-abu-bakar-712543158/">
                <img class="portrait-img" src="/img/L04.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Haikal Azizi</h4>
            <p>Co-founder</p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/jialuo-gao-7743b2148/">
                <img class="portrait-img" src="/img/L05.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Jialuo Gao</h4>
            <p>Co-founder</p>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/shawnzhong/">
                <img class="portrait-img" src="/img/L06.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Shawn Zhong</h4>
            <p></p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/khairinaibrahim/">
                <img class="portrait-img" src="/img/L07.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Khairina Ibrahim</h4>
            <p>Financial Director</p>
        </div>

        <div class="col-sm-2">
            <a href="https://www.linkedin.com/in/峪含-刘-72357a153/">
                <img class="portrait-img" src="/img/L08.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Yuhan Liu</h4>
            <p>Event executive</p>
        </div>
    </div>

    <div class="row margin-top">
        <div class="col-sm-2">
            <a href="/">
                <img class="portrait-img" src="/img/L09.jpg"><img>
            </a>
        </div>
        <div class="col-sm-2">
            <h4>Kyle Wang</h4>
            <p>Comunication co-chair</p>
        </div>
      </div>
</div>


<div class="container" style="margin: 50px auto;">
    <div class="row padding-top">
        <div class="col-sm-4">
            <div class="img-center-holder">
                <a href="/about">
                    <img class="img-rounded home-pg-concept" src="/img/who-we-are.png"><img>
                </a>
            </div>
            <h3>Who we are</h3>
            <p>Code for Good(CORGi) is a student group focusing on the intersection of computer technology
                and community service to create social change.</br>
                Our mission is to expand the use of technology as a force for good, minimize the potential harms of
                technology,
                and support new generation of global leaders working at the intersection of technology and social
                impact.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="img-center-holder">
                <!--a href=""-->
                <img class="img-rounded home-pg-concept" src="/img/what-we-do.png"><img>
                <!--/a-->
            </div>
            <h3>What do we do</h3>
            <p>We aim to build community for CS badgers to improve problem-solving skill and leadership, connect with
                Corgis who are passionate in creating social impacts and share inspirations and ideas.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="img-center-holder">
                <img class="img-rounded home-pg-concept" src="/img/get-involved.png"><img>
            </div>
            <h3>How to get involved</h3>
            <p>
                The easiest way to get involved is to let us know your innovative ideas of new applications.
                If you feel confidant in your problem solving skills, you can also join us to help achieving the most
                brilliant ideas proposed by other people in this community.
            </p>
        </div>
    </div>
</div>

<div class="container sponsor-container">

  <h3 class="sponsor-text">Sponsored by:</h3>
  <a href="https://www.studypool.com/">
    <img class="sponsor-img" src="/img/sp_logo_gradient.png" alt="Studypool">
  </a>
</div>

<% include template/footer.ejs %>
</body>
</html>
