<!doctype html>
<html>

<head>
    <% include template/head.ejs %>
</head>

<body>

<% include template/nav.ejs %>

<div class="container body-layout">
    <div class="row center">
        <h2>Introduction</h2>
    </div>
    <div class="row margin-top">
        <div class="col-sm-4">
            <div class="center">
                <a href="/about">
                    <img class="img-rounded home-pg-concept" src="/img/who-we-are.png"><img>
                </a>
            </div>
            <h3 class="center">Who we are</h3>
            <p class="center">Code for Good(CORGi) is a student group focusing on the intersection of computer technology
                and community service to create social change.
                Our mission is to expand the use of technology as a force for good, minimize the potential harms of
                technology,
                and support new generation of global leaders working at the intersection of technology and social
                impact.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <!--a href=""-->
                <img class="img-rounded home-pg-concept" src="/img/what-we-do.png"><img>
                <!--/a-->
            </div>
            <h3 class="center">What do we do</h3>
            <p class="center">We aim to build community for CS badgers to improve problem-solving skill and leadership, connect with
                Corgis who are passionate in creating social impacts and share inspirations and ideas.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <img class="img-rounded home-pg-concept" src="/img/get-involved.png"><img>
            </div>
            <h3 class="center">How to get involved</h3>
            <p class="center">
                The easiest way to get involved is to let us know your innovative ideas of new applications.
                If you feel confident in your problem solving skills, you can also join us to help achieving the most
                brilliant ideas proposed by other people in this community.
                Contact us at cfg.madison@gmail.com
            </p>
        </div>
    </div>

    <div class="row center">
        <h2>Our Team</h2>
    </div>
    <div class="row margin-top">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/chentao-wang-208b3014a/">
                <img class="portrait-img" src="/img/L09.jpg"/>
            </a>
            <h4>Kyle Wang</h4>
            <p>President</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/robert-bourguignon/">
                <img class="portrait-img" src="/img/L12.jpg"/>
            </a>
            <h4>Robert Bourguignon</h4>
            <p>Vice President</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/jialuo-gao-7743b2148/">
                <img class="portrait-img" src="/img/L05.jpg"/>
            </a>
            <h4>Jialuo Gao</h4>
            <p>Web Dev Lead</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/mitchuw2020/">
                <img class="portrait-img" src="/img/L11.jpg"/>
            </a>
            <h4>Mitchell Schaller</h4>
            <p>Projects Manager(Graduated)</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/harshita-bhatt">
                <img class="portrait-img" src="/img/L13.jpg"/>
            </a>
            <h4>Harshita Bhatt</h4>
            <p>Secretary</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/sabersr/">
                <img class="portrait-img" src="/img/L14.jpg"/>
            </a>
            <h4>Jiazhi Yang</h4>
            <p>Advertising Chair</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/tambre-hu">
                <img class="portrait-img" src="/img/L16.jpg"/>
            </a>
            <h4>Tambre Hu</h4>
            <p>Treasury Chair</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/meschmidt-swe">
                <img class="portrait-img" src="/img/L17.jpg"/>
            </a>
            <h4>Monica Schmidt</h4>
            <p>Event Executive</p>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/emma-liu-588547126/">
                <img class="portrait-img" src="/img/L20.jpg"/>
            </a>
            <h4>Yuange(Emma) Liu</h4>
            <p>Art Chair</p>
        </div>
        
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
            <a href="https://www.linkedin.com/in/kenneth-mui/">
                <img class="portrait-img" src="/img/L19.jpg"/>
            </a>
            <h4>Kenneth Mui</h4>
            <p>Projects Manager</p>
        </div>
    </div>

    <div class="row center">
        <h2>Community articles about us!</h2>
    </div>
    <div class="row center">
        <a href="https://www.cs.wisc.edu/2020/04/24/computer-sciences-org-spotlight-coding-for-good/">https://www.cs.wisc.edu/2020/04/24/computer-sciences-org-spotlight-coding-for-good/</a>
    </div>
</div>

<!-- <div class="container body-layout margin-bot">
    <div class="row center">
        <h2>Events</h2>
    </div>
    <iframe class="col-xs-12 margin-top" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffcc33&amp;src=cfg.madison%40gmail.com&amp;color=%23BE6D00&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FChicago"
            style="border-width:0;align-content:center;" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
</div> -->

<% include template/footer.ejs %>
</body>
</html>
