<!doctype html>
<html>

<head>
    <% include template/head.ejs %>
</head>

<body>

<% include template/nav.ejs %>

<div class="container body-layout">
    <div class="row center">
        <h2>Introduction</h2>
    </div>
    <div class="row margin-top">
        <div class="col-sm-4">
            <div class="center">
                <a href="/about">
                    <img class="img-rounded home-pg-concept" src="/img/who-we-are.png"><img>
                </a>
            </div>
            <h3 class="center">Who we are</h3>
            <p class="center">Code for Good(CORGi) is a student group focusing on the intersection of computer technology
                and community service to create social change.
                Our mission is to expand the use of technology as a force for good, minimize the potential harms of
                technology,
                and support new generation of global leaders working at the intersection of technology and social
                impact.
            </p>
        </div>
        <div class="col-sm-4">
            <div class="center">
                <!--a href=""-->
                <img class="img-rounded home-pg-concept" src="/img/what-we-do.png"><img>
                <!--/a-->
            </div>
            <h3 class="center">What do we do</h3>
            <p class="center">We aim to build a community for CS badgers to improve their problem-solving and leadership skills, 
                connect with Corgis who are passionate about creating social impacts, and share inspirations and ideas.
            </p>    
        </div>    
        <div class="col-sm-4">
            <div class="center">
                <img class="img-rounded home-pg-concept" src="/img/get-involved.png"><img>
            </div>    
            <h3 class="center">How to get involved</h3>
            <p class="center">
                The easiest way to get involved is to let us know your innovative ideas of new applications.
                If you feel confident in your problem solving skills, you can also join us to help achieving the most
                brilliant ideas proposed by other people in this community.
                Contact us at cfg.madison@gmail.com
            </p>    
        </div>    
    </div>    
    
    <h2>Our Team</h2>
    <div class="row margin-top">
        <div class="row center">

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/kenneth-mui/">
                    <img class="portrait-img" src="/img/L19.jpg"/>
                </a>
                <h4>Kenneth Mui</h4>
                <p>President</p>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/kartikeyekhanna">
                    <img class="portrait-img" src="/img/L21.jpg"/>
                </a>
                <h4>Kartikeye Khanna</h4>
                <p>Vice President</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/kinjjalmehta/">
                    <img class="portrait-img" src="/img/L31.jpg"/>
                </a>
                <h4>Kinjal Mehta</h4>
                <p>Secretary</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/harsh-thakkar-1b38991b8">
                    <img class="portrait-img" src="/img/L22.jpg"/>
                </a>
                <h4>Harsh Thakkar</h4>
                <p> Treasurer </p>
            </div>
        
            
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/swathi-annamaneni-467693176/">
                    <img class="portrait-img" src="/img/L30.jpg"/>
                </a>
                <h4>Swathi Annamaneni</h4>
                <p>Web Dev Lead</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                <a href="https://www.linkedin.com/in/nicole-welsh-2021/">
                    <img class="portrait-img" src="/img/L32.jpg"/>
                </a>
                <h4>Nicole Welsh</h4>
                <p>Social media Chair</p>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 center team-member">
                 <a href="https://www.linkedin.com/in/jack-rabe/">
                   <img class="portrait-img" src="/img/L33.jpg"/>
                 </a>
                 <h4>Jack Rabe</h4>
                 <p>Events Chair</p>
            </div>
        </div>

        <div class="row center">
            <h2>Community articles about us!</h2>
        </div>
        <div class="row center">
            <a href="https://www.cs.wisc.edu/2020/04/24/computer-sciences-org-spotlight-coding-for-good/">https://www.cs.wisc.edu/2020/04/24/computer-sciences-org-spotlight-coding-for-good/</a>
        </div>
    </div>
</div>

<!-- <div class="container body-layout margin-bot">
    <div class="row center">
        <h2>Events</h2>
    </div>
    <iframe class="col-xs-12 margin-top" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffcc33&amp;src=cfg.madison%40gmail.com&amp;color=%23BE6D00&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%2323164E&amp;ctz=America%2FChicago"
            style="border-width:0;align-content:center;" width="1100" height="600" frameborder="0" scrolling="no"></iframe>
</div> -->

<% include template/footer.ejs %>
</body>
</html>
