<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Coding for Good</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel = "stylesheet" type = "text/css" href = "css/style.css"/>
<link rel = "stylesheet" type = "text/css" href = "css/neutra/stylesheet.css"/>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/account.js"></script>

</head>

<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Coding for Good</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <div class="navbar-form navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/login">Login</a></li>
            <li><a>|</a></li>
            <li><a href="/signup">Signup</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <div class="container" style="margin: 50px auto;">
    <div class="row margin-top img-center-holder">
      <h2>Core members</h2>
    </div>
    <div class="row margin-top">
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/yuke-liang-6b9087135/">
          <img class="portrait-img" src="/img/L00.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Yuke Liang</h4>
        <p>Founder</p>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/qiuxuan-wu-1111b0107/">
          <img class="portrait-img" src="/img/L01.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Qiuxuan Wu</h4>
        <p>Co-founder</p>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/yuanchen-li-62054b131/">
          <img class="portrait-img" src="/img/L02.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Yuanchen Li</h4>
        <p>Co-founder</p>
      </div>
    </div>
    <div class="row margin-top">
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/muhamad-firdaus-husaini-6a0b5113b/">
          <img class="portrait-img" src="/img/L03.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Firdaus Husaini</h4>
        <p>Co-founder</p>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/haikal-azizi-abu-bakar-712543158/">
          <img class="portrait-img" src="/img/L04.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Haikal Azizi</h4>
        <p>Co-founder</p>
      </div>
      <div class="col-sm-2">
        <a href="https://www.linkedin.com/in/jialuo-gao-7743b2148/">
          <img class="portrait-img" src="/img/L05.jpg"><img>
        </a>
      </div>
      <div class="col-sm-2">
        <h4>Jialuo Gao</h4>
        <p>Co-founder</p>
      </div>
    </div>
  </div>


  <div class="container" style="margin: 50px auto;">
    <div class="row padding-top">
      <div class="col-sm-4">
        <div class="img-center-holder">
          <a href="#about2">
            <img class="img-rounded home-pg-concept" src="/img/who-we-are.png"><img>
          </a>
        </div>
        <h3>Who we are</h3>
        <p>Code for Good(CORGi) is a student group focusing on the intersection of computer technology
          and community service to create social change.</br>
          Our mission is to expand the use of technology as a force for good, minimize the potential harms of technology,
          and support new generation of global leaders working at the intersection of technology and social impact.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="img-center-holder">
          <a href="#why">
            <img class="img-rounded home-pg-concept" src="/img/what-we-do.png"><img>
          </a>
        </div>
        <h3>What do we do</h3>
        <p>We aim to build community for CS badgers to improve problem-solving skill and leadership, connect with
          Corgis who are passionate in creating social impacts and share inspirations and ideas.
        </p>
      </div>
      <div class="col-sm-4">
        <div class="img-center-holder">
          <img class="img-rounded home-pg-concept" src="/img/get-involved.png"><img>
        </div>
        <h3>How to get involved</h3>
        <p>
          The easiest way to get involved is to let us know your innovative ideas of new applications.
          If you feel confidant in your problem solving skills, you can also join us to help achieving the most brilliant ideas proposed by other people in this community.
        </p>
      </div>
    </div>
  </div>


  <footer class="main-footer">
    <p>© 2018 www.coding4good.net | All Rights Reserved</p>
    <p>Contact us | Abount us</p>
  </footer>
</body>
</html>
