<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    <script>
      $(function () {
        $("#get-profile-btn").click(function () {
          var pid = $("#pid-input").val();
          $.ajax({
            url: "/admin/get_profile",
            method: "POST",
            dataType: "json",
            data: {
              pid: pid
            },
            success: function (data) {
              $("#name").html(data.name);
              $("#nickname").html(data.nickname);
              $("#year").html(data.year);
              $("#intended_teamleader").html((data.intended_teamleader) ? "Yes for teamlead" : "No for teamlead");
              $("#pl").html(data.pl);
              $("#dev").html(data.dev);
              $("#resume").attr("src", data.resume);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              alert("Error");
            }
          });
        });
      });
    </script>

</head>

<body>
<input id="pid-input" type="number"/>
<button id="get-profile-btn">ok</button>
<p id="name"></p>
<p id="nickname"></p>
<p id="year"></p>
<p id="intended_teamleader"></p>
<p id="pl"></p>
<p id="dev"></p>
<iframe id="resume" width="800" height="800"></iframe>
</body>
</html>
