<!doctype html>
<html>
<head>
    <% include template/head.ejs %>

    <script>
        $("#submit-button").click(function () {
            $("#submit-button").attr('disabled',true);
            $("#submit-button").attr('disabled',false);
        });
    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <div class="col-sm-8-offset" align="right">
      <a class="btn primary-button" href="/">Back</a>
    </div>
    <div class="input-group login-signup-input">
        <div class="input-group-addon">Your Email:</div>
        <input class="form-control" type="text" id="email" placeholder="Email">
    </div>
    <div class="input-group login-signup-input">
        <div class="input-group-addon">Your Phone:</div>
        <input class="form-control" type="text" id="phone" placeholder="Phone">
    </div>
    <div class="login-signup-input">
        <p style="font-size:15px;">So tell us what's going on! We'll get back to you as soon as possible!</p>
        <textarea class="form-control" type="text" id="content" rows="10"></textarea>
    </div>
    <button id="submit-button" class="btn login-signup-btn primary-button">Submit</button>
</div>

<% include template/footer.ejs %>
</body>
</html>
