<!-- <h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
 -->
<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
</head>

<body>
<% include template/nav.ejs %>
<div class="container body-layout">
    <h1 style="color: #EF6C00;"><%= message %></h1>
    <h2>Oops! We can't find the content you want at this point!</h2>
    <p>Our servers might be down at this point. Please try again later. <br>For any question, please contact
        info@coding4good.net</p>
</div>

<% include template/footer.ejs %>
</body>
</html>
