<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Coding for Good</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel = "stylesheet" type = "text/css" href = "css/index.css"/>
<link rel = "stylesheet" type = "text/css" href = "css/style.css"/>
<link rel = "stylesheet" type = "text/css" href = "css/neutra/stylesheet.css"/>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/jquery-ui.js"></script>

</head>

<body>

  <div class="main-display" hidden="true">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Coding for Good</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/about">About</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact Us</a></li>
          </ul>
          <div class="navbar-form navbar-right">
            <ul class="nav navbar-nav">
              <li><a href="/login">Login</a></li>
              <li><a>|</a></li>
              <li><a href="/signup">Signup</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <div class="starting-display">
  	<!-- <div class="check">
  		ates ullamcorper no, ignota cetero no vel, an per menandri tractatos philosophia. Sea tritani tincidunt concludaturque ut, ad elit debet est. Vim hinc singulis posidonium eu, qui vivendum moderatius ea, sit pericula adipiscing ei. Sit odio euripidis eu, nec in eius choro. Noluisse voluptatum signiferumque mei ne, mei eu ceteros similique assueverit.
  	</div> -->
  	<ul class="text hidden">

  		<li class="character" id="c1">C</li>
  		<li class="character" id="c2">O</li>
  		<li class="character" id="c3">D</li>
  		<li class="character" id="c4">I</li>
  		<li class="character" id="c5">N</li>
  		<li class="character" id="c6">G</li>
  		<li class="character" id="c7">F</li>
  		<li class="character" id="c8">O</li>
  		<li class="character" id="c9">R</li>
  		<li class="character" id="c10">G</li>
  		<li class="character" id="c11">O</li>
  		<li class="character" id="c12">O</li>
  		<li class="character" id="c13">D</li>

  	</ul>
  </div>



    <footer class="main-footer">
      <p>© 2018 www.coding4good.net | All Rights Reserved</p>
      <p>Contact us | Abount us</p>
    </footer>
  </div>
</body>
<script>


	$(function(){
			loop1();
			// setInterval(loop1,9000);
	});

	function loop1(){
		setTimeout(
			function(){
				$('.text').removeClass('hidden');
			}
		,1000)

		setTimeout(change, 2050);

		setTimeout(change1, 3450);

    setTimeout(function(){
      $('.main-display').show();
      $('.starting-display').hide();
    }, 5000);

		// setTimeout(
		// 	function(){
		// 		$('.text').addClass('hidden')
		// 	}
		// ,6000)

	}

	function change() {

		var iniBeginTime = 100;
		var bAdd = 50;

		var iniDelayTime = 150;
		var dAdd = 50;

		var color1 = "rgb(255, 77, 77)";

				$("#c1").animate({
				color: color1,
				}, iniBeginTime,
				);

				setTimeout(function(){
					$("#c2").animate({
					color: color1,
					}, iniBeginTime+1*bAdd,
					);
				}, iniDelayTime)

				setTimeout(function(){
					$("#c3").animate({
					color: color1,
					}, iniBeginTime+2*bAdd,
					);
				}, iniDelayTime+1*dAdd)

				setTimeout(function(){
					$("#c4").animate({
					color: color1,
					}, iniBeginTime+3*bAdd,
					);
				}, iniDelayTime+2*dAdd)

				setTimeout(function(){
					$("#c5").animate({
					color: color1,
					}, iniBeginTime+4*bAdd,
					);
				}, iniDelayTime+3*dAdd)

				setTimeout(function(){
					$("#c6").animate({
					color: color1,
					}, iniBeginTime+5*bAdd,
					);
				}, iniDelayTime+4*dAdd)

				setTimeout(function(){
					$("#c7").animate({
					color: color1,
					}, iniBeginTime+6*bAdd,
					);
				}, iniDelayTime+5*dAdd)


				setTimeout(function(){
					$("#c8").animate({
					color: color1,
					}, iniBeginTime+7*bAdd,
					);
				}, iniDelayTime+6*dAdd)


				setTimeout(function(){
					$("#c9").animate({
					color: color1,
					}, iniBeginTime+8*bAdd,
					);
				}, iniDelayTime+7*dAdd)

				setTimeout(function(){
					$("#c10").animate({
					color: color1,
					}, iniBeginTime+9*bAdd,
					);
				}, iniDelayTime+8*dAdd)

				setTimeout(function(){
					$("#c11").animate({
					color: color1,
					}, iniBeginTime+10*bAdd,
					);
				}, iniDelayTime+9*dAdd)

				setTimeout(function(){
					$("#c12").animate({
					color: color1,
					}, iniBeginTime+11*bAdd,
					);
				}, iniDelayTime+10*dAdd)

				setTimeout(function(){
					$("#c13").animate({
					color: color1,
					}, iniBeginTime+12*bAdd,
					);
				}, iniDelayTime+11*dAdd)



			}

	function change1() {

				var iniBeginTime = 100;
		var bAdd = 50;

		var iniDelayTime = 150;
		var dAdd = 50;


				$("#c1").animate({
				color: "rgb(255,255,255)",
				}, iniBeginTime,
				);

				setTimeout(function(){
					$("#c2").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+1*bAdd,
					);
				}, iniDelayTime)

				setTimeout(function(){
					$("#c3").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+2*bAdd,
					);
				}, iniDelayTime+1*dAdd)

				setTimeout(function(){
					$("#c4").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+3*bAdd,
					);
				}, iniDelayTime+2*dAdd)

				setTimeout(function(){
					$("#c5").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+4*bAdd,
					);
				}, iniDelayTime+3*dAdd)

				setTimeout(function(){
					$("#c6").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+5*bAdd,
					);
				}, iniDelayTime+4*dAdd)

				setTimeout(function(){
					$("#c7").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+6*bAdd,
					);
				}, iniDelayTime+5*dAdd)


				setTimeout(function(){
					$("#c8").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+7*bAdd,
					);
				}, iniDelayTime+6*dAdd)


				setTimeout(function(){
					$("#c9").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+8*bAdd,
					);
				}, iniDelayTime+7*dAdd)

				setTimeout(function(){
					$("#c10").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+9*bAdd,
					);
				}, iniDelayTime+8*dAdd)

				setTimeout(function(){
					$("#c11").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+10*bAdd,
					);
				}, iniDelayTime+9*dAdd)

				setTimeout(function(){
					$("#c12").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+11*bAdd,
					);
				}, iniDelayTime+10*dAdd)

				setTimeout(function(){
					$("#c13").animate({
					color: "rgb(255,255,255)",
					}, iniBeginTime+12*bAdd,
					);
				}, iniDelayTime+11*dAdd)


			}









	</script>
</html>
