<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <link rel="stylesheet" type="text/css" href="/css/index.css"/>

</head>

<body>

<% include template/nav.ejs %>
<div class="starting-display">
    <ul class="text hidding">

        <li class="character" id="c1">C</li>
        <li class="character" id="c2">O</li>
        <li class="character" id="c3">D</li>
        <li class="character" id="c4">I</li>
        <li class="character" id="c5">N</li>
        <li class="character" id="c6">G</li>
        <li class="character" id="c7">F</li>
        <li class="character" id="c8">O</li>
        <li class="character" id="c9">R</li>
        <li class="character" id="c10">G</li>
        <li class="character" id="c11">O</li>
        <li class="character" id="c12">O</li>
        <li class="character" id="c13">D</li>

    </ul>
</div>

<div class="main-display">
    <div class="row">
        <a class="btn primary-button" href="/profile">Create Profile</a>
    </div>
    <div class="row">
        <a class="btn primary-button" href="/about">About Us</a>
    </div>
    <div class="row">
        <a class="btn primary-button" href="/contact">Contact Us</a>
    </div>
    <div class="index-sponsor-container">
        <h2 class="index-sponsor-text row mx-auto">Our Sponsors</h2>
        <div class="center">
            <a href="https://www.microsoft.com/">
                <img class="index-sponsor-img" src="/img/Sponsor/microsoft-no-text.png" alt="Microsoft">
            </a>
        </div>
    </div>
</div>


</body>
<script>


  $(function () {
    $('body').addClass('animated');

    loop1();
    // setInterval(loop1,9000);
  });

  function loop1() {
    setTimeout(
      function () {
        $('.text').removeClass('hidding')
      }
      , 10);

    setTimeout(
      change, 50);

    setTimeout(
      change1, 1550);

    setTimeout(
      function () {
        // $('.text').addClass('hidding')
      }
      , 2800);
  }

  function change() {

    var iniBeginTime = 100;


    var iniDelayTime = 150;
    var dAdd = 50;

    // var color1 = "rgb(255, 77, 77)";
    var color1 = "#EF6C00";

    $("#c1").animate({
        color: color1,
      }, iniBeginTime,
    );

    setTimeout(function () {
      $("#c2").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime);

    setTimeout(function () {
      $("#c3").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 1 * dAdd);

    setTimeout(function () {
      $("#c4").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 2 * dAdd);

    setTimeout(function () {
      $("#c5").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 3 * dAdd);

    setTimeout(function () {
      $("#c6").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 4 * dAdd);

    setTimeout(function () {
      $("#c7").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 5 * dAdd);


    setTimeout(function () {
      $("#c8").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 6 * dAdd);


    setTimeout(function () {
      $("#c9").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 7 * dAdd);

    setTimeout(function () {
      $("#c10").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 8 * dAdd);

    setTimeout(function () {
      $("#c11").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 9 * dAdd);

    setTimeout(function () {
      $("#c12").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 10 * dAdd);

    setTimeout(function () {
      $("#c13").animate({
          color: color1,
        }, iniBeginTime,
      );
    }, iniDelayTime + 11 * dAdd)


  }

  function change1() {

    var iniBeginTime = 100;


    var iniDelayTime = 150;
    var dAdd = 50;


    // $("#c1").animate({
    // color: "rgb(255,255,255)",
    // }, iniBeginTime,
    // );
    //
    // setTimeout(function(){
    // 	$("#c2").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime)
    //
    // setTimeout(function(){
    // 	$("#c3").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+1*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c4").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+2*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c5").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+3*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c6").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+4*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c7").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+5*dAdd)
    //
    //
    // setTimeout(function(){
    // 	$("#c8").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+6*dAdd)
    //
    //
    // setTimeout(function(){
    // 	$("#c9").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+7*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c10").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+8*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c11").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+9*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c12").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+10*dAdd)
    //
    // setTimeout(function(){
    // 	$("#c13").animate({
    // 	color: "rgb(255,255,255)",
    // 	}, iniBeginTime,
    // 	);
    // }, iniDelayTime+11*dAdd)


  }

</script>
</html>
