<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script>
      $(function () {
        $("#signup-form").submit(function () {
          if (($("#title").val() == '') | ($("#description").val() == '') | ($("#contact").val() == '') | ($("#npo").val() == '')) {
            $("#error-msg").html('Please fill out all the fields');
            return false;
          }
          $.ajax({
            url: "/api/project/createProject",
            method: "POST",
            dataType: "json",
            data: {
              title: $("#title").val(),
              description: $("#description").val(),
              contact: $("#contact").val(),
              npo: $("#npo").val(),
            },
            success: function () {
              window.location.href = "/profile";
            },
            error: function (jqXHR, textStatus, errorThrown) {
              $("#error-msg").html(jqXHR.responseJSON);
            }
          });
          return false;
        });
      });
    </script>
</head>
<body>

<% include template/nav.ejs %>
<div class="creat-project">
    <div class="col-sm-8-offset" align="right">
      <a class="btn primary-button" href="/project/">Back</a>
    </div>
    <p style="color:red;" id="error-msg"></p>
    <form id="signup-form">
        <div class="input-group new-project-input">
            <div class="input-group-addon">Title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Title">
        </div>
        <!--
                <div class="input-group new-project-input">
                    <div class="input-group-addon">Leader:</div>
                    <input class="form-control" type="text" id="leader" placeholder="Leader">
                </div>

                <div class="input-group new-project-input">
                    <div class="input-group-addon">Members:</div>
                    <input class="form-control" type="text" id="members" placeholder="Members">
                </div>
        -->
        <div class="input-group new-project-input">
            <div class="input-group-addon">Contact:</div>
            <input class="form-control" type="text" id="contact" placeholder="Contact">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Non-profit Organization Name:</div>
            <input class="form-control" type="text" id="npo" placeholder="Non-profit Organization Name">
        </div>

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" rows="10"></textarea>
        </div>

    </form>
    <button type="submit" form="signup-form" class="btn login-signup-btn primary-button">Create!</button>
</div>

<% include template/footer.ejs %>
</body>
</html>
