<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script src="/js/SearchScript.js"></script>
    <script src="/js/SortScript.js"></script>
    <script type="text/javascript">
        $(function () {
            sortTable("projectTable", 0, 1);
            $("th").click(function () {
                toggleSort("projectTable", $("th").index(this));
                $(".projectRow").click(function () {
                    var projectId = this.id;
                    $(location).attr('href', '/project/detail?id=' + projectId);
                });
            });
            $("#projectSearchInput").on("change textInput input", function () {
                search("projectTable", $("#projectSearchInput").val());
            });
            $(".projectRow").click(function () {
                var projectId = this.id;
                $(location).attr('href', '/project/detail?id=' + projectId);
            });
        });
    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container body-layout">
    <div class="row img-center-holder">
        <% if(isMy){ %>
        <h2>My Projects</h2>
        <% } else{ %>
        <h2>Projects</h2>
        <% } %>
    </div>
    <div class="row margin-htop">
        <div class="col-sm-1">
            <h4>Search: </h4>
        </div>
        <div class="col-sm-5">
            <input id="projectSearchInput" type="text" class="input"
                   placeholder="Input format with NO SPACE: keyword,keyword,keyword"/>
        </div>
        <div class="col-sm-8-offset" align="right">
            <% if (uid != null){ %>
            <% if (uid == 1) { %>
            <a class="btn primary-button" href="/project/new">New Project</a>
            <% } %>
            <a class="btn primary-button" href="/project/my">My Project</a>
            <% } else if(isMy) { %>
            <a class="btn primary-button" href="/project">Back</a>
            <% } %>
        </div>
    </div>
    <table id="projectTable" class="table margin-htop" align="center">
        <thead class="row margin-top">
        <tr class="tr clickable">
            <th>Project Name</th>
            <th>Organization Name</th>
            <th>Project Status</th>
        </tr>
        </thead>
        <tbody id="projectTbody">
        <% if(projectSet.length == 0){ %>
        <tr>
            <td class="error-msg">Sorry! Currently, there are no project available</td>
        </tr>
        <% } %>
        <% projectSet.forEach(function(row){ %>
        <tr class="tr clickable projectRow" id=<%= row.id %>>
            <td class="td"><%= row.title %></td>
            <td class="td"><%= row.npo %></td>
            <td class="td"><%= row.status %></td>
        </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<% include template/footer.ejs %>
</body>
</html>
