<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script>
        function addMemberRow() {
            var currentRow = $('.member-list').length/2+1;
            // var html=$('#member-input-space').html();
            // html="";
            html=" <div class=\"input-group new-project-input row\">\n" +
                "       <div class=\"input-group-addon\">Member "+currentRow+":</div>\n" +
                "       <select id=\"name"+currentRow+"\" class=\"form-control member-list\">\n" +
                "           <% allUserNameAndId.forEach(function(user){ %>\n" +
                "           <option id=\"<%= user.id %>\" value=\"<%= user.id %>\"><%= user.name %></option>\n" +
                "           <% }) %>\n" +
                "       </select>\n" +
                "       <div class=\"input-group-addon\">&nbsp;&nbsp;&nbsp;Title "+currentRow+":&nbsp;&nbsp;</div>\n" +
                "       <select id=\"title"+currentRow+"\" class=\"form-control member-list\">\n" +
                "           <option>Manager</option>\n" +
                "           <option>Leader</option>\n" +
                "           <option>Member</option>\n" +
                "       </select>\n" +
                "   </div>";
            //$('#member-input-space').html(html);
            $('#member-input-space').append(html);
            $(".member-list").editableSelect({effects: 'slide'});
        }
        $(function () {
            addMemberRow();
            $('.member-list').editableSelect({effects: 'slide'});
            $('#add-member-button').click(function(){
                addMemberRow();
            });
            $("#project-form").submit(function () {
                if (($("#title").val() == '') | ($("#description").val() == '') | ($("#contact").val() == '') | ($("#npo").val() == '')) {
                    $("#error-msg").html('Please fill out all the fields');
                    return false;
                }
                var teamMembers = $(".member-list")
                var teams = [   {id: 1, memberTitle: "Leader"},
                                {id: 2, memberTitle: "Member"},
                                {id: 3, memberTitle: "Member"},
                                {id: 4, memberTitle: "Member"},
                                {id: 5, memberTitle: "Member"}];
                $.ajax({
                    url: "/api/project/createProject",
                    method: "POST",
                    dataType: "json",
                    data: {
                        title: $("#title").val(),
                        description: $("#description").val(),
                        contact: $("#contact").val(),
                        npo: $("#npo").val(),
                        status: StatusEnum.InProgress,
                        team: teams
                    },
                    success: function () {
                        window.location.href = "/project";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                    }
                });
                return false;
            });
        });
    </script>
</head>
<body>

<% include template/nav.ejs %>
<div class="creat-project">
    <div class="col-sm-8-offset" align="right">
        <a class="btn primary-button" href="/project">Back</a>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <form id="project-form">
        <div class="input-group new-project-input">
            <div class="input-group-addon">Project Title:&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Title">
        </div>

        <div class="input-group new-project-input row">
            <div class="input-group-addon">Team Members: </div>
            <div class="form-control ">
                <div class="col-sm-6 img-center-holder divider-vertical">Name</div>
                <div class="col-sm-6 img-center-holder">Title</div>
            </div>
            <div class="input-group-btn">
                <button type="button" id="add-member-button" class="btn primary-button">Add Members</button>
            </div>
        </div>
        <div id="member-input-space">
            <!--member row goes here-->
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Contact Info:</div>
            <input class="form-control" type="text" id="contact" placeholder="Contact">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">Non-profit Organization Name:</div>
            <input class="form-control" type="text" id="npo" placeholder="Non-profit Organization Name">
        </div>

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" placeholder="Description" rows="10"></textarea>
        </div>

    </form>
    <button type="submit" form="project-form" class="btn login-signup-btn primary-button">Create!</button>
</div>

<% include template/footer.ejs %>
</body>
</html>
