<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script src="/js/SearchScript.js"></script>
    <script src="/js/SortScript.js"></script>
    <script type="text/javascript">
      $(function () {
        $("#myProjectFilter").click(function () {

        });
        sortTable("projectTable",0,1);
        $("th").click(function () {
          toggleSort("projectTable", $("th").index(this));
        });
        $("#projectSearchInput").on("change textInput input", function () {
          search("projectTable", $("#projectSearchInput").val());
        });
        $(".projectRow").click(function() {
          var projectId = this.id;
          console.log(projectId);
          $(location).attr('href', '/project/detail?id=' + projectId);
        });
        // $.ajax({
        //   url: "/api/project/get_projectSet",
        //   method: "GET",
        //   dataType: "json",
        //   //get info from db (get from /api/admin/get_projectSet ????)
        //   success: function (data) {
        //     var content = "";
        //     data.rows.forEach(function (row) {
        //       content += "<tr class=\"tr clickable\" onclick=\"projectDetail(" + row.id + ")\">" +
        //         "<td class=\"td\">" + row.id + "</td>" +
        //         "<td class=\"td\">" + row.title + "</td>" +
        //         "<td class=\"td\">" + row.npo + "</td>" +
        //         "</tr>";
        //     });
        //     $("#projectTbody").html(content);
        //   },
        //   error: function (jqXHR, textStatus, errorThrown) {
        //     alert("Error" + errorThrown);
        //   }
        // });
      });
    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container" style="margin: 50px auto;">
    <div class="row margin-top img-center-holder">
        <h2>Projects</h2>
    </div>
    <div class="row margin-htop">
        <div class="col-sm-1">
            <h4>Search: </h4>
        </div>
        <div class="col-sm-5">
            <input id="projectSearchInput" type="text" class="input"
                   placeholder="Input format with NO SPACE: keyword,keyword,keyword"/>
        </div>
        <div class="col-sm-8-offset" align="right">
            <%if (uid==1) { %>
            <a class="btn primary-button" href="/project/new">New Project</a>
            <a class="btn primary-button" id="myProjectFilter">My Project</a>
            <% } %>
        </div>
    </div>
    <table id="projectTable" class="table margin-htop" align="center">
        <thead class="row margin-top">
        <tr class="tr clickable">
            <th>Project ID</th>
            <th>Project Name</th>
            <th>Organization Name</th>
        </tr>
        </thead>
        <tbody id="projectTbody">
          <% if(projectSet.length==0){ %>
            <tr><td class="error-msg">Sorry! Currently, there are no project available</td></tr>
          <% } %>
          <% projectSet.forEach(function(row){ %>
            <tr class="tr clickable projectRow" id=<%=row.id%>>
                <td class="td"><%= row.id %></td>
                <td class="td"><%= row.title %></td>
                <td class="td"><%= row.npo %></td>
            </tr>
          <% }); %>
        </tbody>
    </table>
</div>

<% include template/footer.ejs %>
</body>
</html>
