<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script src="/js/account.js"></script>
</head>

<body>

<% include template/nav.ejs %>

<section id="1">
    <div class="container" style="margin: 50px auto;">
        <div class="row margin-top img-center-holder">
            <h2>Edible Landscapes Project</h2>
        </div>
        <div class="img-center-holder">
            <h4>Urban agriculture and food production</br>
                Increase food security and food accessibility</br>
                6 raised bed gardens and one permaculture</br>
                New Projects: update website; mobile application!</br>
                </br>
                Facebook: Edible Landscapes Project, UW-Madison</br>
                Website: <a
                        href="http://ediblelandscapes.wixsite.com/edible">http://ediblelandscapes.wixsite.com/edible</a>
            </h4>
        </div>
        <div class="row img-center-holder">
            <h4>Project Contact: Aida</h4>
            <h4>Group members:</h4>
        </div>
    </div>
</section>
<section id="2">
    <div class="container" style="margin: 50px auto;">
        <div class="row margin-top img-center-holder">
            <h2>How to help the blind use website? </h2>
        </div>
        <div class="img-center-holder">
            <h4>N/A
            </h4>
        </div>
        <div class="row img-center-holder">
            <h4>Project Contact:</h4>
            <h4>Group members:</h4>
        </div>
    </div>
</section>
<section id="3">
    <div class="container" style="margin: 50px auto;">
        <div class="row margin-top img-center-holder">
            <h2>Multicultural Students Center</h2>
        </div>
        <div class="img-center-holder">
            <h4>N/A
            </h4>
        </div>
        <div class="row img-center-holder">
            <h4>Project Contact:</h4>
            <h4>Group members:</h4>
        </div>
    </div>
</section>
<section id="4">
    <div class="container" style="margin: 50px auto;">
        <div class="row margin-top img-center-holder">
            <h2>WI Council of the Blind & Visually Impaired</h2>
        </div>
        <div class="img-center-holder">
            <h4>We have been researching project management software,</br>
                such as Basecamp, to use when planning Council events.</br>
                The software offers what we need for scheduling and management,</br>
                but they are not accessible using screen readers.</h4>
        </div>
        <div class="row img-center-holder">
            <h4>Project Contact: Lori</h4>
            <h4>Group members: Matthew Westphall</h4>
        </div>
    </div>
</section>

<% include template/footer.ejs %>
</body>
</html>
