<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Coding for Good</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/css/neutra/stylesheet.css"/>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/jquery-ui.js"></script>
    <script src="/js/account.js"></script>
    <script type="text/javascript">
      $(function () {
        $.ajax({
          url: "api/project/getProjectDetailById",
          method: "POST",
          dataType: "json",
          data: {
            projectId: projectId
          },
          success: function (data) {
            data
          },
          error: function (jqXHR, textStatus, errorThrown) {
            alert("Error");
          }
        });
      });
    </script>
</head>

<body>

<% include template/nav.ejs %>

<div class="container" style="margin: 50px auto;">
    <div class="row margin-top img-center-holder">
        <h2>Edible Landscapes Project</h2>
    </div>
    <div class="img-center-holder">
        <h4>Urban agriculture and food production</br>
            Increase food security and food accessibility</br>
            6 raised bed gardens and one permaculture</br>
            New Projects: update website; mobile application!</br>
            </br>
            Facebook: Edible Landscapes Project, UW-Madison</br>
            Website: <a
                    href="http://ediblelandscapes.wixsite.com/edible">http://ediblelandscapes.wixsite.com/edible</a>
        </h4>
    </div>
    <div class="row img-center-holder">
        <h4>Project Contact: Aida</h4>
        <h4>Group members:</h4>
    </div>
</div>

<% include template/footer.ejs %>
</body>
</html>
