<!DOCTYPE html>
<html>
<head>
    <% include template/head.ejs %>
    <script type="text/javascript">
        // $(document).ready(function(){
        //   $("a").click(function(event) {
        //
        //     // Make sure this.hash has a value before overriding default behavior
        //     if (this.hash !== "") {
        //       // Prevent default anchor click behavior
        //       event.preventDefault();
        //
        //       // Store hash
        //       var hash = this.hash;
        //
        //       // Using jQuery's animate() method to add smooth page scroll
        //       // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        //       $('html, body').animate({
        //         scrollTop: $(hash).offset().top
        //       }, 800, function(){
        //         // Add hash (#) to URL when done scrolling (default click behavior)
        //         window.location.hash = hash;
        //       });
        //     } // End if
        //   });

        // $("#submit_proposal").click(function (event) {
        //     var email_address, name, major, organization, title, description;
        //     email_address = $("#email_address").value;
        //     name = $("#name").val();
        //     major = $("#major").val();
        //     organization = $("#organization").value;
        //     title = $("#program_title").value;
        //     description = $("#description").value;
        //
        //     $.ajax({
        //         url: "/api/proposal",
        //         dataType: "Json",
        //         method: "POST",
        //         data: {
        //             email: email_address,
        //             name: name,
        //             major: major,
        //             organization: organization,
        //             title: title,
        //             description: description
        //         },
        //         success: function (data) {
        //             window.close();
        //         },
        //         error: function () {
        //
        //         }
        //     });
        // });
    </script>
</head>
<body>
<div class="container body-layout">
    <div>
        <h4>Organization:</h4>
        <input class="form-control" type="text" id="organization" name="organization" placeholder="Organization">
    </div>

    <div>
        <h4>Name:</h4>
        <input class="form-control" type="text" id="name" name="name" placeholder="Name">
    </div>

    <div>
        <h4>Email Address:</h4>
        <input class="form-control" type="text" id="email_address" name="email_address" placeholder="Email Address">
    </div>

    <div>
        <h4>Major:</h4>
        <input class="form-control" type="text" id="major" name="major" placeholder="Major">
    </div>

    <div>
        <h4>Program Title:</h4>
        <input class="form-control" type="text" id="program_title" name="program_title" placeholder="Program Title">
    </div>

    <div>
        <h4>Description:</h4>
        <textarea row="10" class="form-control" type="text" id="description" name="description"
                  placeholder="Description"></textarea>
    </div>

    <div class=" button_position">
        <button type="button" class="primary-button" id="submit_proposal">Submit</button>
    </div>
</div>
</body>
</html>
