<!DOCTYPE html>
<html>
<head>
    <% include template/head.ejs %>
    <script>
        var data =<%-JSON.stringify(allUserNameAndId)%>;

        $(function () {

            $("#submit-button").click(function () {
                $("#submit-button").attr('disabled',true);
                var validInput = true;
                $("#error-msg").html("");
                if (($("#title").val() == '') | ($("#description").val() == '') | ($("#contact").val() == '') | ($("#npo").val() == '')) {
                    $("#error-msg").html('Please fill out all the fields');
                    validInput = false;
                }
                //collect team data
                var teamMembers = $(".member-list");
                var teams = [];
                for(var i=0;i<teamMembers.length;i+=2){
                    //data
                    var name = teamMembers[i].value;
                    var id = $(teamMembers[i]).attr("data-value");
                    var title = teamMembers[i+1].value;
                    //error checking variable
                    var duplicate = false;
                    var hasTitle = title!=="";
                    var hasName = name!=="";
                    var hasId = id!=="";
                    var allEmpty = name==="" && title==="";
                    var hasAll = name!=="" && title!=="" && id!=="";
                    var badId = true;
                    if(!allEmpty) {
                        if (!hasTitle) {
                            $("#error-msg").html('Please input a title for member ' + (i / 2 + 1));
                            validInput = false;
                        }
                        else if (!hasName) {
                            $("#error-msg").html('Please input valid name for member ' + (i / 2 + 1));
                            validInput = false;
                        }
                        else if (!hasId) {
                            $("#error-msg").html("Member " + (i / 2 + 1) + " is not a valid member, please check your spelling");
                            validInput = false;
                        }
                        else if (hasAll) {
                            data.forEach(function (people) {
                                if (people.id == id) {
                                    badId = false;
                                    teams.forEach(function (member) {
                                        if (member.id == id) {
                                            validInput = false;
                                            $("#error-msg").html("There are duplicate member, " + people.name + " please check your input");
                                        }
                                    });
                                    if (!duplicate) {
                                        if (people.name === name) {
                                            teams.push({id: id, memberTitle: title});
                                        }
                                    }
                                }
                            });
                            if (badId) {
                                $("#error-msg").html("Member " + (i / 2 + 1) + " is not a valid member, please check your spelling");
                                validInput = false;
                            }
                        }
                    }
                }
                if(validInput){
                    $.ajax({
                        url: "/api/project/createProject",
                        method: "POST",
                        dataType: "json",
                        data: {
                            title: $("#title").val(),
                            description: $("#description").val(),
                            contact: $("#contact").val(),
                            npo: $("#npo").val(),
                            status: $("#status").val(),
                            team: teams
                        },
                        success: function () {
                            window.location.href = "/project";
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#submit-button").attr('disabled',false);
                        }
                    });
                }
                else{
                    $("#submit-button").attr('disabled',false);
                    return false;
                }
            });
        });
    </script>
</head>
<body>

<% include template/nav.ejs %>
<div class="container body-layout">
    <div class="col-sm-8-offset" align="right">
        <a class="btn primary-button" href="/project">Back</a>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <div>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Organization:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="organization" placeholder="Organization">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Proposer Name:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="name" placeholder="Proposer Name">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Current Position:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="position" placeholder="Current Position">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Email Address:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="email" placeholder="Email Address">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Other Contact Info:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="contact" placeholder="Other Contact Information">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Proposal Title:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Proposal Title">
        </div>
        <!--<div class="input-group new-project-input">-->
            <!--<div class="input-group-addon">&nbsp;Project status: &nbsp;</div>-->
            <!--<select class="form-control" id="status">-->
                <!--&lt;!&ndash;status option goes here&ndash;&gt;-->
            <!--</select>-->
        <!--</div>-->

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" placeholder="Description" rows="10"></textarea>
        </div>

    </div>
    <button id="submit-button" type="button" class="btn login-signup-btn primary-button">Create!</button>
</div>

<% include template/footer.ejs %>
</body>
</html>

