<!DOCTYPE html>
<html>
<head>
    <% include template/head.ejs %>
    <script type="text/javascript" src="/js/proposal.js"></script>
</head>
<body>
<div class="container body-layout">
    <div>
        <h4>Organization:</h4>
        <input class="form-control" type="text" id="organization" name="organization" placeholder="Organization">
    </div>

    <div>
        <h4>Name:</h4>
        <input class="form-control" type="text" id="name" name="name" placeholder="Name">
    </div>

    <div>
        <h4>Email Address:</h4>
        <input class="form-control" type="text" id="email_address" name="email_address" placeholder="Email Address">
    </div>

    <div>
        <h4>Major:</h4>
        <input class="form-control" type="text" id="major" name="major" placeholder="Major">
    </div>

    <div>
        <h4>Program Title:</h4>
        <input class="form-control" type="text" id="program_title" name="program_title" placeholder="Program Title">
    </div>

    <div>
        <h4>Description:</h4>
        <textarea row="10" class="form-control" type="text" id="description" name="description"
                  placeholder="Description"></textarea>
    </div>

    <div class=" button_position">
        <button type="button" class="primary-button" id="submit_proposal">Submit</button>
    </div>
</div>
</body>
</html>
