<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CORGi</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
  </head>
  <body>
    <div class="form-control">
      <div class="">
        <h4>Orgnization:</h4>
        <input type="text" id="orgnization" name="orgnization" placeholder="Orgnization">
      </div>
      <div class="">
        <h4>Name:</h4>
        <input type="text" id="name" name="name" placeholder="Name">
      </div>
      <div class="">
        <h4>Email Address:</h4>
        <input type="email" id="email_address" name="email_address" placeholder="Email Address">
      </div>
      <div class="">
        <h4>Major:</h4>
        <input type="text" id="major" name="major" placeholder="Major">
      </div>
      <div class="">
        <h4>Title</h4>
        <input type="text" id="title" name="title" placeholder="Title">
      </div>
      <div class="">
        <h4>Description</h4>
        <input type="text" id="description" name="description" placeholder="Description">
      </div>
      <button type="button" id="submit_proposal">Submit</button>
    </div>
  </body>
  </html>
