<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
    <script>
      $(function () {
        $("#signup-form").submit(function () {
          if (($("#password").val() == '') | ($("#email").val() == '') | ($("#name").val() == '')) {
            $("#error-msg").html('Please fill out all the fields');
            return false;
          }
          if ($("#password").val() != $("#confirm-password").val()) {
            $("#error-msg").html('Password does not match');
            return false;
          }
          $.ajax({
            url: "/api/signup",
            method: "POST",
            dataType: "json",
            data: {
              email: $("#email").val(),
              fullname: $("#name").val(),
              password: $("#password").val()
            },
            success: function () {
              window.location.href = "/profile";
            },
            error: function (jqXHR, textStatus, errorThrown) {
              $("#error-msg").html(jqXHR.responseJSON);
            }
          });
          return false;
        });
      });
    </script>

</head>

<body>

<% include template/nav.ejs %>

<div class="login-signup">
    <p style="color:red;" id="error-msg"></p>
    <form id="signup-form">
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="email" placeholder="Email">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Full Name:</div>
            <input class="form-control" type="text" id="name" placeholder="Fullname">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Password:</div>
            <input class="form-control" type="password" id="password" placeholder="Password">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Password:</div>
            <input class="form-control" type="password" id="confirm-password" placeholder="Confirm Password">
        </div>
    </form>
    <p>I already had an account yet, <a href="login">Log me in!</a></p>
    <button type="submit" form="signup-form" class="btn login-signup-btn primary-button">Signup</button>
</div>

<% include template/footer.ejs %>
</body>
</html>
