<!doctype html>
<html>
<head>
<% include template/head.ejs %>
</head>

<body>
<% include template/nav.ejs %>

<div class="container body-layout">
    <h2 class="sponsor-text row img-center-holder">Our Sponsors</h2>
    <div class="img-center-holder">
        <a href="https://www.microsoft.com/">
            <img class="sponsor-img" src="/img/Sponsor/microsoft.png" alt="Microsoft">
        </a>
    </div>
</div>

<% include template/footer.ejs %>
</body>

</html>