<!doctype html>
<html>
<head>
    <% include template/head.ejs %>
</head>

<body class="error-container">

<% include template/nav.ejs %>

<div class="container body-layout">
    <h1 style="color: #EF6C00;">Upload Complete</h1>
    <h2>Sit tight and wait for the project matching</h2>
    <p>You can update your profile as many times as you want!</p>
</div>

<% include template/footer.ejs %>
</body>
</html>
