@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	
}


.body{
	
	background-color: rgb(255, 187, 153);
	width:100vw;
	height:100vh;
}

.check{
	background-color: rgb(255, 238, 230);
	padding:2%;
	width:60%;
	left:20%;
	position:absolute;
	font-family: 'Neutra Text Light Alt';
	font-size:20pt;
	color:#808080;
}

.text{
	list-style: none;
	
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	width:60%;
	position:absolute;
	left:50%;
	top:50%;
	transform: translateX(-50%) translateY(-50%);
}

.character{
	color:#fff;
	
	font-family: 'Neutra Text Light Alt';
	font-size:3.5em;
	transition:all 1.5s ease;
	
	
}

.text.hidding li:nth-child(1){
	opacity:0;
	transform:translateY(100%) translateX(-150%);
}
.text.hidding li:nth-child(2){
	opacity:0;
	transform:translateY(30%) translateX(-30%);
} 
.text.hidding li:nth-child(3){
	opacity:0;
	transform:translateY(-60%) translateX(50%);
}
.text.hidding li:nth-child(4){
	opacity:0;
	transform:translateY(-80%) translateX(200%);
}
.text.hidding li:nth-child(5){
	opacity:0;
	transform:translateY(120%) translateX(150%);
}
.text.hidding li:nth-child(6){
	opacity:0;
	transform:translateY(-30%) translateX(-80%);
}
.text.hidding li:nth-child(7){
	opacity:0;
	transform:translateY(120%) translateX(-30%);
	
	
}
.text.hidding li:nth-child(8){
	opacity:0;
	transform:translateY(-80%) translateX(-220%);
}
.text.hidding li:nth-child(9){
	opacity:0;
	transform:translateY(-150%) translateX(130%);
}
.text.hidding li:nth-child(10){
	opacity:0;
	transform:translateY(-50%) translateX(-20%);
} 
.text.hidding li:nth-child(11){
	opacity:0;
	transform:translateY(120%) translateX(90%);
}
.text.hidding li:nth-child(12){
	opacity:0;
	transform:translateY(50%) translateX(-100%);
}
.text.hidding li:nth-child(13){
	opacity:0;
	transform:translateY(-20%) translateX(170%);
}

.text li:last-child{
	margin-right: 0;
}

.text li:nth-child(6){
	margin-right: 3%;
}

.text li:nth-child(9){
	margin-right: 3%;
}

#c2{
		
}

#c3{
	
	
}