.clickable {
    cursor: pointer;
}

h1 {
    color: #888;
    font-size: 60px;
}

h2, h3, h4, h5, h6 {
    color: #777;
}

th {
    color: #777;
    font-size: 1.3em;
}

td {
    color: #777;
    font-size: 1em;
}

li {
    font-size: 1.18em;
}

.home-nav {
    background: #EEE;
}

.main-title {

}

.margin-15top{
    margin-top: 15px;
}

.margin-htop {
    margin-top: 25px;
}

.margin-top {
    margin-top: 50px;
}

.margin-dtop {
    margin-top: 100px;
}

.margin-hbot {
    margin-bottom: 25px;
}

.margin-bot {
    margin-bottom: 50px;
}

.margin-dbot {
    margin-bottom: 100px;
}

.padding-top {
    padding-top: 100px;
}

.padding-bot {
    padding-bottom: 100px;
}

.primary-button {
    padding: 6px 12px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    color: white;
    background-color: #EF6C00;
    border-color: #EF6C00;
    border-radius: 5px;
    font-weight: 300;
}

.primary-button:hover {
    color: #E65100;
    background-color: #FFCC80;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.highPriority-button {
    padding: 6px 12px;
    border-radius: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-family: inherit;
    color: #FFF;
    background-color: #F00;
    border-color: #F00;
    border-radius: 5px;
    font-weight: 300;
}

.highPriority-button:hover {
    color: #F00;
    background-color: #FCC;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.large-button {
    font-size: 24px;
    border-radius: 10px;
}

.middle {
    vertical-align: middle;
}

body, html {
    color: #666;
    background-color: rgb(255, 249, 246);
}

.main {
    text-align: center;
    padding-top: 200px;
}

.button_position {
    text-align: center;
    margin-top: 30px;
}

.btn-proposal {
    font-size: 20px;
    font-weight: 300;
    margin-top: 110px;
    padding: 10px 40px;
}

section {
    overflow: hidden;
}

.main-footer {
    border: 2px solid #d7d7d7;
    background: #e7e7e7;
    color: #757575;
    font-size: 12px;
    text-align: center;
    padding: 30px 0;
    position: relative;
    width: 100%;
}

.home-pg-concept {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

.slide-img {
    width: 100%;
    text-align: center;
}

.h-page {
    height: 70%;
}

.page {
    height: 100%;
}

.d-page {
    height: 200%;
}

.portrait-img {
    width: 13em;
    height: 13em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
}

.team-member{
  margin-bottom: 1em;
}

.partners-img {
    width: 100%;
}

.partner-holder {
    display: inline-block;
    width: 300px;
    height: 20px;
    margin: 20px 20px;
}

#partners {
    text-align: center;
}

.new-project-input {
    margin: 10px auto;
}

.long-btn {
    width: 100%;
}

.mid-btn {
    width: 49%;
}

    .btn.left{
        float: left;
    }

    .btn.right{
        float: right;
    }
    
.login-signup-input {
    margin: 10px auto;
    width: 100%;
}

.login-signup-input .input-group-addon {
    width: 100px;
}

.error-msg {
    color: red;
}

.required-star {
    color: red;
    font-weight: bold;
}

.starting-display {
    height: 70vh;
}

.main-display {
  opacity: 0;
  animation-name:fadeIn;
  animation-duration:2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
    width: 30%;
    margin: -210px auto;
    text-align: center;
}

.main-display .primary-button {
    width: 100%;
    margin: 8px auto;
    line-height: 24px;
    font-size: 18px;
    background-color: #FF8A65;
}

.index-sponsor-container {
    padding-top: 155px;
    padding-bottom:18px;
}

.index-sponsor-img {
    width:50px;
}

.index-sponsor-text {
    font-size: 20px;
}

.input {
    width: 90%;
    height: 34px;
    display: block;
    padding: 6px 12px;
    font-family: "Roboto-Light";
    font-size: 14px;
    margin: 5px 5px 5px 5px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

    .input:focus {
        width: 90%;
        height: 34px;
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }

.sponsor-img {
    width: 300px;
}

.divider-vertical {
    height: 100%;
    border-right: 1px solid #757575;
}

input::-webkit-calendar-picker-indicator {
    display: none;
}

.confirmation-box {
    min-width: 300px;
    margin: auto;
    text-align: center;
    color: #F55;
    font-size: 32px;
}

.body-layout {
    min-height: 63vh;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 70%;
}

	.body-layout.min-body-layout {
		width: 35%;
	}

	.body-layout.mid-body-layout {
		width: 55%;
	}

#notification-bar {
    visibility: hidden;
    padding-top: 10px;
    z-index: 1050;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    border-bottom-left-radius: 20px 10px;
    border-bottom-right-radius: 20px 10px;
    width: 100%;
    position: fixed;
    top: 50px;
    font-weight: bold;
    text-shadow: 0 1px 2px #a9a9a9;
    opacity: 0.8;
    box-shadow: 0 5px 5px #999999;
}

.invisible{
    visibility: hidden;
}

/* JS animations are SO 2013*/
@keyframes fadeIn {
  0% {opacity: 0}
  100% {opacity: 1}
}

.font-weight-bold{
    font-weight: bold;
}
