<!DocType html>
<html>
    <head>
        <% include ../template/head.ejs %>
        <title>Verification required</title>
    </head>
    <body>
        <% include ../template/nav.ejs %>

        <div class="container body-layout ">
            <div class="img-center-holder margin-dtop">
                <img class="sponsor-img" src="img/icon.jpg" alt="Corgi">
                <h2>A verification email has been sent to your email. Please verify your account, thank you!</h2>
                <h5>If you haven't received an email in 5 mins, please try re-signup then contact us for help!</h5>
            </div>
        </div>

        <% include ../template/footer.ejs %>
    </body>
</html>