<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
      $(function () {
        $("#login-form").submit(() => {
          const submit = $("#submit-button");
          const msg = $("#error-msg");
          const password = $("#password").val();
          const email = $("#email").val();

          submit.attr('disabled',true);

          if ((password=== '') || (email === '')) {
            msg.html('Please fill out all the fields');
            submit.attr('disabled',false);
            return false;
          }

          $.ajax({
            url: "/login",
            method: "POST",
            dataType: "json",
            data: {
              email: email,
              password: password
            },
            success: function (valid) {
              if(valid){
                window.location.href = "/";
              }
              else{
                msg.html('Your username or password is wrong, please try again!');
                submit.attr('disabled',false);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              msg.html(jqXHR.responseJSON);
              submit.attr('disabled',false);
            }
          });
          return false;
        });
      });
    </script>

</head>

<body>

<% include ../template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <p class="error-msg margin-dtop" id="error-msg"></p>
    <form id="login-form">
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Email:</div>
            <input class="form-control" type="text" id="email" placeholder="Email">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Password:</div>
            <input class="form-control" type="password" id="password" placeholder="Password">
        </div>
        <!p>I don't have an account yet, <a href="signup">sign me up!</a></p>
    </form>
    <button id="submit-button" type="submit" form="login-form" class="btn long-btn primary-button">Log In</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
