<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
      $(function () {
        $("#submit-button").click(function () {
          $("#submit-button").attr('disabled',true);
          var profile = {
            nickname: "",
            year: -1,
            intended_teamleader: false,
            pl: [],
            dev: []
          };

          profile.nickname = $("#nickname").val();
          profile.year = $("#year").val();
          profile.intended_teamleader = !!($(".teamleader").attr("checked"));

          $(".pl-checkbox:checked").each(function () {
            if ($(this).val()) {
              profile.pl.push($(this).val());
            }
          }).promise().done(function () {

            $(".dev-checkbox:checked").each(function () {
              if ($(this).val()) {
                profile.dev.push($(this).val());
              }
            }).promise().done(function () {
              if ($("#resume")[0].files.length > 0) {
                var file = $("#resume")[0].files[0];
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function () {
                  profile.resume = reader.result;
                  console.log(profile);
                  $.ajax({
                    url: "/api/upload_profile",
                    method: "POST",
                    dataType: "json",
                    data: profile,
                    success: function () {
                      window.location.href = "/upload-complete";
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                      $("#error-msg").html(jqXHR.responseJSON);
                      $("#submit-button").attr('disabled',false);
                    }
                  });
                };
                reader.onerror = function (error) {
                  console.log('Error: ', error);
                };
              }
              else {
                $.ajax({
                  url: "/api/upload_profile",
                  method: "POST",
                  dataType: "json",
                  data: profile,
                  success: function () {
                    window.location.href = "/upload-complete";
                  },
                  error: function (jqXHR, textStatus, errorThrown) {
                    $("#error-msg").html(jqXHR.responseJSON);
                    $("#submit-button").attr('disabled',false);
                  }
                });
              }


            });
          });
          // return false;
        });
      });

    </script>

</head>

<body>

<% include ../template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <h3>So tell us a bit about yourself!</h3>
    <form id="profile-form">
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Nickname:</div>
            <input class="form-control" type="text" id="nickname" placeholder="Nickname">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Years:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <select class="form-control" id="year">
                <option value="1">Freshman</option>
                <option value="2">Sophomore</option>
                <option value="3">Junior</option>
                <option value="4">Senior</option>
                <option value="5">Super-senior (5th year)</option>
                <option value="6">Graduate or Above</option>
            </select>
        </div>
        <div class="login-signup-input">
            <p style="font-size:15px;">What programming languages are you familiar with?</p>
            <input type="checkbox" class="pl-checkbox" id="pl-java" value="pl-java"> Java <br>
            <input type="checkbox" class="pl-checkbox" id="pl-javascript" value="pl-javascript"> Javascript <br>
            <input type="checkbox" class="pl-checkbox" id="pl-c" value="pl-c"> C <br>
            <input type="checkbox" class="pl-checkbox" value="pl-cpp"> C++ <br>
            <input type="checkbox" class="pl-checkbox" value="pl-csharp"> C# <br>
            <input type="checkbox" class="pl-checkbox" value="pl-objectivec"> Objective-C <br>
            <input type="checkbox" class="pl-checkbox" value="pl-swift"> Swift <br>
            <input type="checkbox" class="pl-checkbox" value="pl-python"> Python <br>
            <input type="checkbox" class="pl-checkbox" value="pl-matlab"> Matlab <br>
            <input type="checkbox" class="pl-checkbox" value="pl-assembly"> Assembly <br>
            <input type="checkbox" class="pl-checkbox" value="pl-lisp"> LISP <br>
        </div>
        <div class="login-signup-input">
            <p style="font-size:15px;">What kinds of development are you familiar with?</p>
            <input type="checkbox" class="dev-checkbox" value="dev-frontend"> Front End (Web) <br>
            <input type="checkbox" class="dev-checkbox" value="dev-backend"> Back End (Web) <br>
            <input type="checkbox" class="dev-checkbox" value="dev-ios"> IOS <br>
            <input type="checkbox" class="dev-checkbox" value="dev-android"> Android <br>
            <input type="checkbox" class="dev-checkbox" value="dev-windows"> Windows Desktop Application <br>
            <input type="checkbox" class="dev-checkbox" value="dev-mac"> Mac OS X Desktop Application <br>
            <input type="checkbox" class="dev-checkbox" value="dev-linux"> Linux software <br>
            <input type="checkbox" class="dev-checkbox" value="dev-algorithm"> Algorithm <br>
            <input type="checkbox" class="dev-checkbox" value="dev-network"> Networking <br>
            <input type="checkbox" class="dev-checkbox" value="dev-ml"> Machine Learning <br>
            <input type="checkbox" class="dev-checkbox" value="dev-ds"> Data Science <br>
            <input type="checkbox" class="dev-checkbox" value="dev-communication"> Communicate with people :) <br>
        </div>
        <div class="login-signup-input">
            <br>
            <p>When developing softwares in team, there has to be a team leader who directs the development.</p>
            <input type="checkbox" class="teamleader" value="teamleader"> Check this box if you want to be a team leader
            <br>
        </div>
    </form>
    <div class="login-signup-input">
        <br>
        <p>(Optional) Resume</p>
        <input type="file" id="resume">
    </div>
    <button id="submit-button" class="btn long-btn primary-button">Upload Profile</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
