<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
      $(function () {
        $("#submit-button").click(() => {
          const submit = $("#submit-button");
          const msg = $("#error-msg");

          const password = $("#password").val();
          const confirm_password = $("#confirm-password").val();
          const email = $("#email").val();
          const name = $("#name").val();


          submit.attr('disabled',true);

          if (password === '' || email === '' || name === '' || confirm_password === '') {
            msg.html('Please fill out all the fields');
            submit.attr('disabled', false);
            return false;
          }

          if (password !== confirm_password) {
            msg.html('Password does not match');
            submit.attr('disabled', false);
            return false;
          }

          $.ajax({
            url: "/signup",
            method: "POST",
            dataType: "json",
            data: {
              email: email,
              fullname: name,
              password: password
            },
            success: function (result) {
              if(result.status){
                window.location.href = "/email-confirmation";
              }
              else {
                msg.html(result.msg);
                submit.attr('disabled',false);
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              msg.html(jqXHR.responseJSON);
              submit.attr('disabled',false);
            }
          });
        });
      });
    </script>
</head>

<body>

<% include ../template/nav.ejs %>

<div class="container body-layout min-body-layout">
    <p class="error-msg margin-dtop" id="error-msg"></p>
    <form id="signup-form">
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Email:</div>
            <input class="form-control" type="text" id="email" placeholder="Email">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Full Name:</div>
            <input class="form-control" type="text" id="name" placeholder="Fullname">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Password:</div>
            <input class="form-control" type="password" id="password" placeholder="Password">
        </div>
        <div class="input-group login-signup-input">
            <div class="input-group-addon">Confirm:</div>
            <input class="form-control" type="password" id="confirm-password" placeholder="Confirm Password">
        </div>
    </form>
    <p>I already had an account, <a href="/login">Log me in!</a></p>
    <button title="Sign up" id="submit-button" class="btn long-btn primary-button">Sign Up</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>