<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127071715-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127071715-1');
</script>

<meta charset="utf-8">
<title>Coding for Good</title>
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/neutra/stylesheet.css"/>
<link rel="stylesheet" type="text/css" href="/css/jquery-editable-select.min.css"/>
<script src="/js/jquery-3.2.1.min.js"></script>
<script src="/js/jquery-ui.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery-editable-select.min.js"></script>
<script src="/js/account.js"></script>
<script src="/js/enum.js"></script>
<script src="/js/formatchecker.js"></script>

<%
auth = function(auth_roles, user_role) {
    if(auth_roles == null){
        return true;
    }
    if (user_role) {
        auth_roles.push("Root");
        let intersection = user_role.filter(x => auth_roles.includes(x.user_role));
        return intersection.length > 0;
    }
    return false;
}
%>
<!-- Add https:// if link does not have it-->
<%
url_with_https = function (old_url) {
    if (old_url === "") {
        return "#";
    }
    if (!old_url.trim().match(/^[a-zA-Z]+:\/\//)) {
        return "https://" + old_url;
    }
    return old_url;
}
%>