<script>
    $(function () {
        const urlParams = new URLSearchParams(window.location.search);
        const status = urlParams.get('status');
        if(status == 's'){
            $('#notification-bar').css("visibility","visible");
            $('#notification-bar').fadeOut(4000, "swing");
        }
    })
</script>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <!-- Create button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class = "navbar-toggler-icon"></span>
          <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
          </button>
              <a class="navbar-brand" href="/"><img src="/img/brand.png" style="height: 50px; margin-top: -15px; padding-left:15px"/></a>
              </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="margin-top: -5px;">
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/project">Projects</a></li>
                <li class="nav-item"><a class="nav-link" href="/proposal/create">Proposals</a></li>
                <li class="nav-item"><a class="nav-link" href="/event">Events</a></li>
                <li class="nav-item"><a class="nav-link" href="/sponsor">Sponsor</a></li>
                <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
            </ul>
                <ul class="nav navbar-nav ml-auto name-display" style="padding-right: 50px">
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <!-- class description: hidden-xs hides an element when window reaches xs size -->
                    <li class="nav-link">|</li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Signup</a></li>
                </ul>
        </div>
    </div>
</nav>
<div id="notification-bar">
    <p>Your submission has successfully been saved!</p>
</div>
