<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
        $(function() {
            // default date
            let now = new Date();
            let day = ("0" + now.getDate()).slice(-2);
            let month = ("0" + (now.getMonth() + 1)).slice(-2);
            let hour = ("0" + now.getHours().toString()).slice(-2);
            let minute = ("0" + now.getMinutes().toString()).slice(-2);
            let today = now.getFullYear() + "-" + (month) + "-" + (day) + "T" + hour + ":" + minute;
            $("#time").val(today);
            // editable selecte event type
            $("#event_type").editableSelect({effects: 'slide'});
            $("#event_type").click(function(){
                $("#event_type").val("");
                $("#event_type").trigger("change");
            });
            // set up handlers
            $("#submit-button").click(function() {
                if (($("#title").val() == '') | ($("#location").val() == '') | ($("#event_type").val() == '') | ($("#description").val() == '')) {
                    $("#error-msg").html('Please fill out all required fields (*)');
                    $(".required-star").removeAttr('hidden');
                    return;
                }
                if ($("#time").val() == ''){
                    $("#error-msg").html('Time should be selected, or typed in format of YYYY-MM-DDTHH:MM (EX: 2020-12-30T23:55)');
                    $("#time").removeAttr('hidden');
                    return;
                }
                if (($("#image").val() != '') && !validateURL($("#image").val())) {
                    $("#error-msg").html('Invalid Image URL');
                    return;
                }
                if (($("#link").val() != '') && !validateURL($("#link").val())) {
                    $("#error-msg").html('Invalid Link');
                    return;
                }
                $("#error-msg").html("");
                $("#submit-button").attr('disabled', true);
                $.ajax({
                    url: "/event/createEvent",
                    method: "POST",
                    dataType: "json",
                    data: {
                        event_time: $("#time").val(),
                        title: $("#title").val(),
                        location: $("#location").val(),
                        image: $("#image").val(),
                        description: $("#description").val(),
                        link: $("#link").val(),
                        type: $("#event_type").val()
                    },
                    success: function() {
                        window.location.href = "/event?status=s";
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $("#error-msg").html(jqXHR.responseJSON);
                        $("#submit-button").attr('disabled', false);
                    }
                });
            });
        });
    </script>
</head>
<body>

<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div align="right">
        <a class="btn primary-button" href="/event">Back</a>
    </div>
    <div>
        <p class="error-msg" id="error-msg"></p>
        <div class="input-group new-project-input">
            <div class="input-group-prepend input-group-text" style="min-width: 165px; padding-left: 35px;">&nbsp;Event Title&nbsp;<span class="required-star" hidden>*</span></div>
            <input class="form-control" type="text" id="title" placeholder="Event Title">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-prepend input-group-text" style="min-width: 165px; padding-left: 35px;">&nbsp;Event Time&nbsp;<span class="required-star" hidden>*</span></div>
            <input class="form-control" type="datetime-local" placeholder="YYYY-MM-DDTHH:MM" id="time">
        </div>

        <div class="input-group new-project-input">
            <div class="nput-group-prepend input-group-text" style="min-width: 165px; padding-left: 25px;">&nbsp;Event Location&nbsp;<span class="required-star" hidden>*</span></div>
            <input class="form-control" type="text" id="location" placeholder="Event Location">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-prepend input-group-text" style="min-width: 165px;padding-left: 15px;">&nbsp;Event Image Url &nbsp;</div>
            <input class="form-control" type="text" id="image" placeholder="Event Image Url">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-prepend input-group-text" style="min-width: 165px; padding-left: 35px;">&nbsp;Event Link &nbsp;</div>
            <input class="form-control" type="text" id="link" placeholder="Event Link">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-prepend input-group-text" style="min-width: 165px; padding-left: 35px;">&nbsp;Event Type&nbsp;<span class="required-star" hidden>*</span></div>
            <select class="form-control" id="event_type" placeholder="Input For Other Types">
                <option>Workshop</option>
                <option>Kickoff</option>
                <option>Group meeting</option>
            </select>
        </div>

        <div class="new-project-input">
            <textarea class="form-control" type="text" id="description" placeholder="Event Description" rows="5"  style="resize: none;"></textarea>
        </div>

        <button id="submit-button" type="button" class="btn long-btn primary-button">Create!</button>
    </div>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
