<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
        // default date
        window.onload= function() {
            let now = new Date();
            let day = ("0" + now.getDate()).slice(-2);
            let month = ("0" + (now.getMonth() + 1)).slice(-2);
            let today = now.getFullYear()+"-"+(month)+"-"+(day) ;
            $("#time").val(today);
        }
        // validate URL
        function validURL(str) {
            var pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
                '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
                '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
                '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
                '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
                '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
            return !!pattern.test(str);
        }
    	$(function() {
            $("#submit-button").click(function() {
                $("#submit-button").attr('disabled', true);
                var validInput = true;
                $("#error-msg").html("");
                if (($("#title").val() == '') | ($("#time").val() == '') | ($("#location").val() == '') |
                    ($("#link").val() == '') | ($("#type").val() == '') | ($("#description").val() == '') | ($("#image").val() == '')) {
                    $("#error-msg").html('Please fill out all the fields');
                    validInput = false;
                }
                if (!validURL($("#link").val()) || !validURL($("#image").val())) {
                    $("#error-msg").html('Invalid link or URL');
                    validInput = false;
                }
                if (validInput) {
                    $.ajax({
                        url: "/event/createEvent",
                        method: "POST",
                        dataType: "json",
                        data: {
                            event_time: $("#time").val(),
                            title: $("#title").val(),
                            location: $("#location").val(),
                            image: $("#image").val(),
                            description: $("#description").val(),
                            link: $("#link").val(),
                            type: $("#type").val()
                        },
                        success: function() {
                            window.location.href = "/event?status=s";
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#submit-button").attr('disabled', false);
                        }
                    });
                } else {
                    $("#submit-button").attr('disabled', false);
                    return false;
                }
            });
        });
    </script>
</head>
<body>

<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div class="col-sm-8-offset" align="right">
        <a class="btn primary-button" href="/events">Back</a>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <div>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Event Title:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Event Title">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Time: &nbsp;</div>
            <input class="form-control" type="date" id="time" placeholder="Event Time">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Location: &nbsp;</div>
            <input class="form-control" type="text" id="location" placeholder="Event Location">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Image Url: &nbsp;</div>
            <input class="form-control" type="text" id="image" placeholder="Event Image Url">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Description: &nbsp;</div>
            <input class="form-control" type="text" id="description" placeholder="Event Description">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Link: &nbsp;</div>
            <input class="form-control" type="text" id="link" placeholder="Event Link">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Type: &nbsp;</div>
            <input class="form-control" type="text" id="type" placeholder="Event Type">
        </div>

    </div>
    <button id="submit-button" type="button" class="btn long-btn primary-button">Create!</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
