<!doctype html>
<html>
<head>
    <% include ../template/head.ejs %>
    <script>
    	$(function() {
            $("#submit-button").click(function() {
                $("#submit-button").attr('disabled', true);
                var validInput = true;
                $("#error-msg").html("");
                if (($("#title").val() == '') | ($("#time").val() == '') | ($("#location").val() == '')) {
                    $("#error-msg").html('Please fill out all the fields');
                    validInput = false;
                }
                if (validInput) {
                    $.ajax({
                        url: "/events/createEvent",
                        method: "POST",
                        dataType: "json",
                        data: {
                            title: $("#title").val(),
                            location: $("#location").val(),
                            time: $("#time").val(),
                        },
                        success: function() {
                            window.location.href = "/events?status=s";
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            $("#error-msg").html(jqXHR.responseJSON);
                            $("#submit-button").attr('disabled', false);
                        }
                    });
                } else {
                    $("#submit-button").attr('disabled', false);
                    return false;
                }
            });
        });
    </script>
</head>
<body>

<% include ../template/nav.ejs %>
<div class="container body-layout">
    <div class="col-sm-8-offset" align="right">
        <a class="btn primary-button" href="/events">Back</a>
    </div>
    <p class="error-msg" id="error-msg"></p>
    <div>
        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;&nbsp;&nbsp;Event Title:&nbsp;&nbsp;&nbsp;</div>
            <input class="form-control" type="text" id="title" placeholder="Event Title">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Time: &nbsp;</div>
            <input class="form-control" type="text" id="time" placeholder="Event Time">
        </div>

        <div class="input-group new-project-input">
            <div class="input-group-addon">&nbsp;Event Location: &nbsp;</div>
            <input class="form-control" type="text" id="location" placeholder="Event Location">
        </div>

    </div>
    <button id="submit-button" type="button" class="btn long-btn primary-button">Create!</button>
</div>

<% include ../template/footer.ejs %>
</body>
</html>
